name: C CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: sudo apt install libpng-dev zlib1g-dev gcc make -y
    - name: Run make to compile
      run: make
    - name: Install & uninstall
      run: export DESTDIR="./" && make install && make uninstall || exit 1
      
